@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen II - Programacion avanzada</h1>
    <p>Se esta consumiendo servicios de Azure con SQL Server, servicios de mongoDB con Atlas.</p>
    <p>Construido con NET CORE</p>
</div>
