@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h2 class="display-4">Examen II</h2>
    <h2 class="display-4">Programacion avanzada</h2>
    <h5>Construido con NET CORE</h5>
    <br />    <br />    <br />    <br />
    <h4>Consumiendo servicios de Azure con SQL Server</h4>
    <img src="~/img/sqldb.png" width="1100" height="600" />
    <br />    <br />    <br />    <br />
    <h4>Consumiendo servicios de mongoDB con Atlas.</h4>
    <img src="~/img/mongodb.png" width="1100" height="600" />
    <br />    <br />    <br />    <br />
    <h4>Servicio API - Swagger.</h4>
    <img src="~/img/swagger.png" width="1100" height="600" />


</div>
